<table class="table table-hover">
  <tr *ngFor="let pd of service.list">
    <td (click)="populateForm(pd)">{{pd.Sender}}</td>
    <td (click)="populateForm(pd)">{{pd.Recipient}}</td>
    <td (click)="populateForm(pd)">{{pd.SendingDate}}</td>
    <td (click)="populateForm(pd)">{{pd.Courier}}</td>
    <td>
      <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(pd.PackageId)"></i>
    </td>
  </tr>
</table>