<table class="table table-hover">
  <tr *ngFor="let cd of service.list">
    <td (click)="populateForm(cd)">{{cd.FirstName}}</td>
    <td (click)="populateForm(cd)">{{cd.LastName}}</td>
    <td (click)="populateForm(cd)">{{cd.PhoneNumber}}</td>
    <td>
      <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(cd.CourierId)"></i>
    </td>
  </tr>
</table>