<form #form="ngForm" autocomplete="off" (submit)="onPackageSubmit(form)">
  <input type="hidden" name="PackageId" [value]="service.formData.PackageId">
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i class="fas fa-user-circle"></i>
        </div>
      </div>
      <input name="Sender" #Sender="ngModel" [(ngModel)]="service.formData.Sender" class="form-control" placeholder="Sender" required>
    </div>
  </div>

  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i class="fas fa-user-circle"></i>
        </div>
      </div>
      <input name="Recipient" #Recipient="ngModel" [(ngModel)]="service.formData.Recipient" class="form-control" placeholder="Recipient" required>
    </div>
  </div>

  <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text bg-white">
            <i class="fas fa-calendar-alt"></i>
          </div>
        </div>
        <input name="SendingDate" #SendingDate="ngModel" [(ngModel)]="service.formData.SendingDate" class="form-control" placeholder="DD/MM/YYYY" required>
      </div>
  </div>

  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i class="fas fa-user-circle"></i>
        </div>
      </div>
      <input name="Courier" #Courier="ngModel" [(ngModel)]="service.formData.Courier" class="form-control" placeholder="Courier" required>
    </div>
  </div>

  <div class="form-group">
    <button class="btn btn-success btn-lg btn-block" type="submit"><i class="fas fa-database"></i>  Submit</button>
  </div>
</form>