<form #form="ngForm" autocomplete="off" (submit)="onCourierSubmit(form)">
  <input type="hidden" name="CourierId" [value]="service.formData.CourierId">
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i class="fas fa-user-circle"></i>
        </div>
      </div>
      <input name="FirstName" #FirstName="ngModel" [(ngModel)]="service.formData.FirstName" class="form-control" placeholder="First Name" required>
    </div>
  </div>

  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i class="fas fa-user-circle"></i>
        </div>
      </div>
      <input name="LastName" #LastName="ngModel" [(ngModel)]="service.formData.LastName" class="form-control" placeholder="Last Name"required>
    </div>
  </div>

  <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text bg-white">
            <i class="fas fa-mobile-alt"></i>
          </div>
        </div>
        <input name="PhoneNumber" #PhoneNumber="ngModel" [(ngModel)]="service.formData.PhoneNumber" class="form-control" placeholder="Phone Number" required maxLength="13" minLength="9">
      </div>
  </div>

  <div class="form-group">
    <button class="btn btn-success btn-lg btn-block" type="submit"><i class="fas fa-database"></i>  Submit</button>
  </div>
</form>