<div class="jumbotron">
  <h1 class="display-4 text-center">Couriers Register</h1>
  <hr>
  <div class="row">
    <div class="col-md-5">
      <app-courier-detail></app-courier-detail>
    </div>
    <div class="col-md-7">
      <app-courier-detail-list></app-courier-detail-list>
    </div>
  </div>
</div>