<div class="jumbotron">
  <h1 class="display-4 text-center">Packages Register</h1>
  <hr>
  <div class="row">
    <div class="col-md-5">
      <app-package-detail></app-package-detail>
    </div>
    <div class="col-md-7">
      <app-package-detail-list></app-package-detail-list>
    </div>
  </div>
</div>